<div class="text-right button-wrapper">
    <button class="btn-primary" mat-button (click)="goToHome()">
        Inicio
    </button>
    <button class="btn-primary" mat-button (click)="goToAdd()">
        Agregar Productos
    </button>
</div>



<div class="container">

    <table *ngIf="!loading" mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">

        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> <img class="small-img" src="{{ element.image }}" />
            </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef> Actual Stock </th>
            <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
        </ng-container>

        <ng-container matColumnDef="newStock">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field>
                    <mat-label>Nuevo Stock</mat-label>
                    <input type="number" [(ngModel)]="element.newStock" matInput />
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let p">
                <button class="btn-primary" [disabled]=" p.newStock == null || !(p.newStock >= 0)" (click)="updateStock(p)" mat-button>
                    Actualizar
                </button>
                <button class="btn-primary" (click)="goToEdit(p.id)" mat-button>
                    Ir a Editar
                </button>
                <button class="btn-primary m-l-2" (click)="borrar(p)" mat-button>
                    Borrar
                </button>

            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="size" (page)="changePage($event)" [length]="length" showFirstLastButtons></mat-paginator>
</div>